In [42]:
import pandas as pd
df = pd.read_csv("datasets/AB_NYC_2019.csv")

In [43]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [44]:
print('Number of features: {}'.format(df.shape[1]))
print('Number of examples: {}'.format(df.shape[0]))

Number of features: 16
Number of examples: 48895

In [45]:
df.dtypes

id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                               int64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
dtype: object

In [46]:
df['last_review'] = pd.to_datetime(df['last_review'],infer_datetime_format=True)

In [47]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [48]:
total = df.isnull().sum().sort_values(ascending=False)
percent = df.isnull().sum()/df.isnull().count().sort_values(ascending=False)
missing_data = pd.concat([total, percent], axis=1, keys=['Total','Percent'], sort=False).sort_values('Total', ascending=False)
missing_data

                                Total   Percent
reviews_per_month               10052  0.205583
last_review                     10052  0.205583
host_name                          21  0.000429
name                               16  0.000327
availability_365                    0  0.000000
calculated_host_listings_count      0  0.000000
number_of_reviews                   0  0.000000
minimum_nights                      0  0.000000
price                               0  0.000000
room_type                           0  0.000000
longitude                           0  0.000000
latitude                            0  0.000000
neighbourhood                       0  0.000000
neighbourhood_group                 0  0.000000
host_id                             0  0.000000
id                                  0  0.000000

In [49]:
df.drop(['host_name','name'], axis=1, inplace=True)

In [50]:
df['reviews_per_month'] = df['reviews_per_month'].fillna(0)

In [51]:
earliest = min(df['last_review'])
print(earliest)
print(earliest.toordinal())
df['last_review'] = df['last_review'].fillna(earliest)
df['last_review'] = df['last_review'].apply(lambda x: x.toordinal() - earliest.toordinal())

2011-03-28 00:00:00
734224

In [52]:
df

,id,host_id,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,2787,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2762,0.21,6,365
1,2595,2845,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2976,0.38,2,355
2,3647,4632,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,0,0.00,1,365
3,3831,4869,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,3021,4.64,1,194
4,5022,7192,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2793,0.10,1,0
5,5099,7322,Manhattan,Murray Hill,40.74767,-73.97500,Entire home/apt,200,3,74,3008,0.59,1,129
6,5121,7356,Brooklyn,Bedford-Stuyvesant,40.68688,-73.95596,Private room,60,45,49,2383,0.40,1,0
7,5178,8967,Manhattan,Hell's Kitchen,40.76489,-73.98493,Private room,79,2,430,3010,3.47,1,220
8,5203,7490,Manhattan,Upper West Side,40.80178,-73.96723,Private room,79,2,118,2307,0.99,1,0
9,5238,7549,Manhattan,Chinatown,40.71344,-73.99037,Entire home/apt,150,1,160,2995,1.33,4,188
10,5295,7702,Manhattan,Upper West Side,40.80316,-73.96545,Entire home/apt,135,5,53,3008,0.43,1,6
11,5441,7989,Manhattan,Hell's Kitchen,40.76076,-73.98867,Private room,85,2,188,3009,1.50,1,39
12,5803,9744,Brooklyn,South Slope,40.66829,-73.98779,Private room,89,4,167,3010,1.34,3,314
13,6021,11528,Manhattan,Upper West Side,40.79826,-73.96113,Private room,85,2,113,3021,0.91,1,333
14,6090,11975,Manhattan,West Village,40.73530,-74.00525,Entire home/apt,120,90,27,2774,0.22,1,0
15,6848,15991,Brooklyn,Williamsburg,40.70837,-73.95352,Entire home/apt,140,2,148,3015,1.20,1,46
16,7097,17571,Brooklyn,Fort Greene,40.69169,-73.97185,Entire home/apt,215,2,198,3014,1.72,1,321
17,7322,18946,Manhattan,Chelsea,40.74192,-73.99501,Private room,140,1,260,3017,2.12,1,12
18,7726,20950,Brooklyn,Crown Heights,40.67592,-73.94694,Entire home/apt,99,3,53,3008,4.44,1,21
19,7750,17985,Manhattan,East Harlem,40.79685,-73.94872,Entire home/apt,190,7,0,0,0.00,2,249
20,7801,21207,Brooklyn,Williamsburg,40.71842,-73.95718,Entire home/apt,299,3,9,275,0.07,1,0
21,8024,22486,Brooklyn,Park Slope,40.68069,-73.97706,Private room,130,2,130,3017,1.09,6,347
22,8025,22486,Brooklyn,Park Slope,40.67989,-73.97798,Private room,80,1,39,2836,0.37,6,364
23,8110,22486,Brooklyn,Park Slope,40.68001,-73.97865,Private room,110,2,71,3018,0.61,6,304
24,8490,25183,Brooklyn,Bedford-Stuyvesant,40.68371,-73.94028,Entire home/apt,120,2,88,3005,0.73,2,233
25,8505,25326,Brooklyn,Windsor Terrace,40.65599,-73.97519,Private room,60,1,19,3009,1.37,2,85
26,8700,26394,Manhattan,Inwood,40.86754,-73.92639,Private room,80,4,0,0,0.00,1,0
27,9357,30193,Manhattan,Hell's Kitchen,40.76715,-73.98533,Entire home/apt,150,10,58,2330,0.49,1,75
28,9518,31374,Manhattan,Inwood,40.86482,-73.92106,Private room,44,3,108,3001,1.11,3,311
29,9657,21904,Manhattan,East Village,40.72920,-73.98542,Entire home/apt,180,14,29,2944,0.24,1,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48865,36472171,99144947,Manhattan,Inwood,40.86845,-73.92449,Private room,80,1,0,0,0.00,1,79
48866,36472710,274225617,Queens,Briarwood,40.70786,-73.81448,Entire home/apt,58,1,0,0,0.00,1,159
48867,36473044,261338177,Brooklyn,Gravesend,40.59080,-73.97116,Shared room,25,1,0,0,0.00,6,338
48868,36473253,261338177,Brooklyn,Gravesend,40.59118,-73.97119,Shared room,25,7,0,0,0.00,6,365
48869,36474023,1550580,Brooklyn,Bedford-Stuyvesant,40.68759,-73.95705,Private room,45,4,0,0,0.00,1,7
48870,36474911,1273444,Brooklyn,Williamsburg,40.71197,-73.94946,Entire home/apt,99,4,0,0,0.00,1,22
48871,36475746,144008701,Manhattan,Harlem,40.82233,-73.94687,Private room,35,29,0,0,0.00,2,31
48872,36476675,8636072,Manhattan,Hell's Kitchen,40.76236,-73.99255,Entire home/apt,260,3,0,0,0.00,1,9
48873,36477307,241945355,Brooklyn,Flatlands,40.63116,-73.92616,Entire home/apt,170,1,0,0,0.00,2,363
48874,36477588,214535893,Manhattan,East Harlem,40.79760,-73.93947,Private room,50,7,0,0,0.00,1,22
48875,36478343,274273284,Manhattan,East Harlem,40.78749,-73.94749,Private room,140,1,0,0,0.00,1,180
48876,36478357,177932088,Manhattan,Harlem,40.80953,-73.95410,Private room,60,1,0,0,0.00,1,26
48877,36479230,65767720,Brooklyn,Bushwick,40.70418,-73.91471,Private room,42,7,0,0,0.00,1,16
48878,36479723,41326856,Queens,Elmhurst,40.74477,-73.87727,Private room,45,1,0,0,0.00,5,172
48879,36480292,540335,Brooklyn,Williamsburg,40.71728,-73.94394,Entire home/apt,120,20,0,0,0.00,1,22
48880,36481315,208514239,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,120,1,0,0,0.00,3,365
48881,36481615,274298453,Brooklyn,Greenpoint,40.72585,-73.94001,Private room,54,6,0,0,0.00,1,15
48882,36482231,66058896,Brooklyn,Bushwick,40.69652,-73.91079,Private room,40,20,0,0,0.00,1,31
48883,36482416,131529729,Manhattan,East Harlem,40.79755,-73.93614,Private room,75,2,0,0,0.00,2,364
48884,36482783,274307600,Brooklyn,Williamsburg,40.71790,-73.96238,Private room,190,7,0,0,0.00,1,341
48885,36482809,131529729,Manhattan,East Harlem,40.79633,-73.93605,Private room,75,2,0,0,0.00,2,353
48886,36483010,274311461,Manhattan,Midtown,40.75561,-73.96723,Entire home/apt,200,6,0,0,0.00,1,176
48887,36483152,208514239,Brooklyn,Williamsburg,40.71232,-73.94220,Entire home/apt,170,1,0,0,0.00,3,365
48888,36484087,274321313,Manhattan,Hell's Kitchen,40.76392,-73.99183,Private room,125,4,0,0,0.00,1,31
48889,36484363,107716952,Queens,Jamaica,40.69137,-73.80844,Private room,65,1,0,0,0.00,2,163
48890,36484665,8232441,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,0,0.00,2,9
48891,36485057,6570630,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,0,0.00,2,36
48892,36485431,23492952,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,0,0.00,1,27
48893,36485609,30985759,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,0,0.00,6,2
48894,36487245,68119814,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,0,0.00,1,23